In [1]:
# Импортируем библиотеки
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Считываем данные из файла
df = pd.read_excel('data.xlsx')

In [3]:
# Отсортируем данные по именам
df = df.sort_values(by='merchant_name')

In [4]:
# Удаляем месяц, так как он не несет никакой информации
df = df.drop('month', axis=1)

# Удалим строки с merchant_name, которое встречается меньше 5 раз в df
df = df.groupby('merchant_name').filter(lambda x : len(x) > 5)
df.head(200)

      merchant_name                  day  cashback
10123        #SEKTA  2022-05-18 00:00:00    385.96
8361         #SEKTA  2022-04-29 00:00:00    252.85
8360         #SEKTA  2022-04-28 00:00:00    178.91
8359         #SEKTA  2022-04-27 00:00:00    158.98
8358         #SEKTA  2022-04-26 00:00:00    179.30
...             ...                  ...       ...
2        1С Интерес  2022-01-23 00:00:00    385.44
3        1С Интерес  2022-01-24 00:00:00    209.48
4        1С Интерес  2022-01-25 00:00:00    361.80
5        1С Интерес  2022-01-26 00:00:00    380.77
6        1С Интерес  2022-01-27 00:00:00   2163.35

[200 rows x 3 columns]

In [5]:
# Получает на вход год, месяц, день и возвращает день недели в виде его номера
def get_weekday(year, month, day):
    return datetime.date(year, month, day).weekday()

# Получает на вход строку вида "YYYY-MM-DD hh:mm:ss" и возвращает year, month, day
def get_date(date_string):
    date = str(date_string).split(' ')[0]
    year, month, day = map(int, date.split('-'))
    return month, day

# Переведем столбец day формата "YYYY-MM-DD hh:mm:ss" в столбец с результатом get_date
df['day'] = df['day'].apply(lambda x : '.'.join(list(map(str, get_date(x)))))
df['weekday'] = df['day'].apply(lambda x : get_weekday(2022, *map(int, x.split('.'))))
df['is_weekend'] = df['weekday'].apply(lambda x : 1 if x in [5, 6] else 0)

In [6]:
# Для каждого значения merchant_name построим график cashback
'''
for merchant_name in df['merchant_name'].unique():
    sns.lineplot(data=df[df['merchant_name'] == merchant_name], x='day', y='cashback')
    plt.title(merchant_name)
    plt.savefig(f'graphs/{merchant_name.replace('*', ' ')}.png')
    plt.close()
'''

"\nfor merchant_name in df['merchant_name'].unique():\n    sns.lineplot(data=df[df['merchant_name'] == merchant_name], x='day', y='cashback')\n    plt.title(merchant_name)\n    plt.savefig(f'graphs/{merchant_name.replace('*', ' ')}.png')\n    plt.close()\n"

In [7]:
# Сохраним df как clear_data.xlsx
df.to_excel('clear_data.xlsx', index=False)

In [8]:
df.head(100)

      merchant_name   day  cashback  weekday  is_weekend
10123        #SEKTA  5.18    385.96        2           0
8361         #SEKTA  4.29    252.85        4           0
8360         #SEKTA  4.28    178.91        3           0
8359         #SEKTA  4.27    158.98        2           0
8358         #SEKTA  4.26    179.30        1           0
...             ...   ...       ...      ...         ...
7603     1С Интерес  4.14    898.81        3           0
7612     1С Интерес  4.23   1223.56        5           1
7611     1С Интерес  4.22   1020.26        4           0
7610     1С Интерес  4.21   1031.75        3           0
7609     1С Интерес  4.20    938.30        2           0

[100 rows x 5 columns]