In [8]:
import pandas as pd
from helpful import *

In [9]:
# Загружаем обработанные данные
df = pd.read_excel('data/data.xlsx')

In [10]:
# Для каждого значения merchant_name находим максимум и минимум cashback в виде словаря {название : [min, max]}
minimax = {}
for merchant in df['merchant_name'].unique():
    minimax[merchant] = [df[df['merchant_name'] == merchant]['cashback'].min(), df[df['merchant_name'] == merchant]['cashback'].max()]

In [23]:
# Данные после трансформации

transformed = df.copy()
for i in range(10):
    transformed.loc[i]['cashback'] = minimax[transformed.loc[i]['merchant_name']][0]

C:\Users\merzl\AppData\Local\Temp\ipykernel_9904\4210774801.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed.loc[i]['cashback'] = minimax[transformed.loc[i]['merchant_name']][0]

In [12]:
transformed

            merchant_name                  day                month  cashback
0              1С Интерес  2022-01-21 00:00:00  2022-01-01 00:00:00  0.071747
1              1С Интерес  2022-01-22 00:00:00  2022-01-01 00:00:00  0.148351
2              1С Интерес  2022-01-23 00:00:00  2022-01-01 00:00:00  0.141703
3              1С Интерес  2022-01-24 00:00:00  2022-01-01 00:00:00  0.056758
4              1С Интерес  2022-01-25 00:00:00  2022-01-01 00:00:00  0.130291
...                   ...                  ...                  ...       ...
27537  Яндекс.Еда и Лавка  2023-01-27 00:00:00  2023-01-01 00:00:00  0.369006
27538  Яндекс.Еда и Лавка  2023-01-28 00:00:00  2023-01-01 00:00:00  0.464632
27539  Яндекс.Еда и Лавка  2023-01-29 00:00:00  2023-01-01 00:00:00  0.350585
27540  Яндекс.Еда и Лавка  2023-01-30 00:00:00  2023-01-01 00:00:00  0.206159
27541  Яндекс.Еда и Лавка  2023-01-31 00:00:00  2023-01-01 00:00:00  0.208752

[27542 rows x 4 columns]